.get-started-button {
    background-color: #00497a;
    color: white;
    border: none;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.get-started-button:hover {
    background-color: #003f64;
}

.get-started-button span {
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.02em;
}
