.get-started-button {
    width: 327px;
    height: 63px;
    background: rgba(0, 73, 122, 0.8);
    border: 1px solid #003c64;
    border-radius: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    transition: background-color 0.3s ease;
}

.get-started-button:hover {
    background: rgba(0, 73, 122, 1);
}
