/* src/components/WelcomeLoading.css */

/* 전체 컨테이너 */
.welcome-loading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 50px;
    background: radial-gradient(216.43% 100% at 0% 100%, rgba(0, 105, 174, 0) 0%, rgba(0, 105, 174, 0.3) 100%),
        radial-gradient(216.43% 100% at 100% 100%, rgba(0, 105, 174, 0) 0%, rgba(0, 105, 174, 0.3) 100%), #ffffff;
    border-radius: 18px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

/* WIBEE 로고 스타일 */
.wibee-logo {
    width: 259px;
    height: 259px;
    background: url('../../wibee.png') no-repeat center;
    background-size: contain;
    margin-bottom: 30px;
}

/* WIBEECHAT 텍스트 */
.title-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #00497a;
}

/* 버전 텍스트 */
.version-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #757171;
}

/* 반응형 디자인 (모바일) */
@media (max-width: 400px) {
    .welcome-loading {
        padding: 30px;
        gap: 40px;
    }

    .wibee-logo {
        width: 80px;
        height: 80px;
    }

    .title-text {
        font-size: 28px;
    }

    .version-text {
        font-size: 14px;
    }
}

/* 반응형 디자인 (태블릿) */
@media (min-width: 401px) and (max-width: 768px) {
    .welcome-loading {
        width: 80%;
        padding: 40px;
        gap: 100px;
    }

    .wibee-logo {
        width: 90px;
        height: 90px;
    }

    .title-text {
        font-size: 32px;
    }

    .version-text {
        font-size: 16px;
    }
}

/* 반응형 디자인 (데스크탑) */
@media (min-width: 769px) {
    .welcome-loading {
        width: 393px;
        height: 852px;
        padding: 50px 109px;
        gap: 160px;
    }

    .wibee-logo {
        width: 109px;
        height: 109px;
    }

    .title-text {
        font-size: 35px;
    }

    .version-text {
        font-size: 18px;
    }
}
